.inventory .ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-view>.ui-userdata {
  background-color: #F4F8FB;
}

.inventory .ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-hdiv,
.inventory .ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-legacy-subgrid>thead {
  background-color: #F4F8FB;
}

.inventory .ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-view>.ui-jqgrid-sdiv td {
  background-color: #F4F8FB;
}

.inventory .ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-caption,
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar {
  background-color: #F4F8FB;
  -ms-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -ms-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

.inventory .ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-bottom {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.inventory .ui-jqgrid.ui-jqgrid-bootstrap {
  -ms-border-radius: 0px;
  border-radius: 0px;
  border-top-left-radius: 0x;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.inventory.ui-jqgrid-bootstrap.ui-jqdialog .modal-content {
  padding: 0;
}

.inventory .ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-caption,
.inventory.ui-jqgrid-bootstrap.ui-jqdialog .modal-header.ui-jqdialog-titlebar,
.inventory.ui-jqgrid-bootstrap.ui-jqdialog .ui-jqdialog-content {
  padding: 20px;
}

.inventory .ui-jqgrid-btable tbody>tr.active>td {
  background-color: #ecf6e8 !important;
}

.inventory .ui-jqgrid-btable tbody>tr.active.success>td {
  background-color: #dff0d8 !important;
}

.inventory input[type=text].editable.form-control {
  height: 30px;
}

.inventory .ui-jqgrid tr.jqgrow>td,
.inventory .ui-jqgrid .ui-jqgrid-htable th {
  height: 41px;
  line-height: 3;
  padding: 3px 8px;
}

.inventory .ui-jqgrid .ui-jqgrid-htable th {
  vertical-align: middle;
  background-color: white;
}

.inventory .ui-jqgrid .ui-jqgrid-htable {
  border-bottom: 3px solid #ebeff2;
}

.inventory .ui-jqgrid .table-striped>tbody>tr:nth-of-type(odd) {
  background-color: white !important;
}

.inventory .ui-jqgrid .table-striped>tbody>tr:nth-of-type(even) {
  background-color: #f4f8fb !important;
}

.inventory .ui-jqgrid .table>thead>tr>th.active {
  background-color: rgba(252, 253, 255, 0.5) !important;
}

.inventory td.ui-jqgrid-pg-center {
  height: 40px;
}

.inventory .ui-jqgrid .ui-jqgrid-pager .ui-pager-control,
.inventory .ui-jqgrid .ui-jqgrid-toppager .ui-pager-control {
  padding: 0px 5px;
}

.inventory .fa-pencil:before {
  color: #797979;
}


/**
 *Select2
 */

.inventory .select2-search__field {
  margin-bottom: 0;
}

.inventory .select2-container--default.select2-container--focus .select2-selection {
  border: 1px solid #aaa;
}

.inventory .select2-container--default .select2-selection {
  border: 1px solid #E3E3E3;
}

.inventory span.select2.select2-container.select2-container--default {
  font-weight: lighter;
  margin-top: 5px;
  transition: all 300ms linear;
}

.inventory .select2-container--default .select2-selection .select2-selection__rendered {
  padding: 4px 12px;
}

.inventory .select2-selection__clear {
  margin-right: 10px;
}

.inventory .select2-container {
  height: 37px;
  line-height: 1.3;
}

.inventory .select2-selection {
  height: 37px;
  line-height: 1.3;
}